@font-face{
  font-family: "PTsansRegular", sans-serif;
  src: url("../fonts/pt-sans/PT_Sans-Web-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "PTsansBold", sans-serif;
  src: url("../fonts/pt-sans/PT_Sans-Web-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;

  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.2);
}

.main-header {
  position: relative;

  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  left: calc(50% - 70px);
  height: 71px;
  width: 139px;

  font-size: 0;

  background-image: url("../img/logo.svg");
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;

  z-index: 2;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 72px;
  margin: 0;

  list-style: none;
}

.main-menu-item {
  padding: 15px 0;
  width: 264px;

  text-align: left;
}

.main-menu-item:nth-child(3),
.main-menu-item:nth-child(4) {
  text-align: right;
}

.main-menu-link {
  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu-link:hover {
  color: #81b3d2;
}

.main-menu-link:active {
  color: #000000;

  opacity: 0.3;
}

.main-menu-active-link {
  color: #766357;

  opacity: 1;
}

.main-menu-active-link {
  color: #766357;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 356px;
  padding: 76px;

  background-image: url("../img/intro-bg.jpg");
  background-color: rgba(0, 0, 0, 0);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 100%;
  height: 59px;

  background-image: url("../img/intro-polygon.svg");
  background-color: rgba(0, 0, 0, 0);
  background-position: 0 2px;
  background-repeat: no-repeat;
}

.intro-title {
  width: 100%;
  height: 353px;
  padding: 0;
  margin: 0;

  font-size: 0;

  background-image: url("../img/intro-content.svg");
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  background-color: #ffffff;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 0 0;

  background-color: #ffffff;
}

.advantage-title {
  width: 580px;
  padding: 0 300px;
  margin: 0 auto;
  margin-bottom: 28px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantage-description {
  width: 575px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  padding: 162px 0 81px 0;
}

.advantage-housing {
  background-image: url("../img/advantage-icon-1.svg");
  background-position: 162px 60px;
  background-repeat: no-repeat;
}

.advantage-food {
  background-image: url("../img/advantage-icon-2.svg");
  background-position: 163px 61px;
  background-repeat: no-repeat;
}

.advantage-souvenirs {
  background-image: url("../img/advantage-icon-3.svg");
  background-position: 168px 56px;
  background-repeat: no-repeat;
}

.advantage-item-icon {
  width: 75;
  height: 72px;
  margin-bottom: 29px;

  fill: #81b3d2;
}

.advantage-item-with-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
  width: 400px;
  padding-top: 47px;

  background-color: #81b3d2;
}

.advantage-item-with-pic-title {
  width: 180px;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.advantage-item-title {
  width: 130px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantage-item-with-pic-number {
  width: 65px;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.advantage-item-number {
  width: 65px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.advantage-item-with-pic-description {
  width: 345px;
  padding: 0;
  margin: 0;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.advantage-item-description {
  width: 320px;
  padding: 0;
  margin: 0;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.items-bottom {
  padding: 47px 0 56px 0;

  background-color: #eeeeee;
}

.search-hotel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 52px 0 70px 0;

  background-color: #ffffff;
}

.search-hotel-title {
  width: 400px;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.search-hotel-description {
  width: 485px;
  padding: 0;
  margin: 0;
  margin-bottom: 63px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.index-search-form {
  position: absolute;
  left: calc(50% - 284px);
  bottom: -395px;
  width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  padding-top: 55px;

  background-color: #ffffff;
}

.index-search-form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.index-search-form-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 458px;
  margin-bottom: 30px;

  list-style: none;
}

.search-form-title {
  width: 100%;
  margin-bottom: 55px;

  text-align: center;
}

.index-open-search-form {
  position: absolute;
  bottom: 0;
  left: calc(50% - 284px);
  width: 568px;
  padding: 30px 0;
  margin: 0;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #766357;
}

.index-search-form-title:hover {
  background-color: #604e43;
}

.index-search-form-title:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.index-search-form-field {
  padding: 0px 12px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: none;
}

.index-search-form-field:hover {
  background-color: #ebebeb;
}

.index-search-form-field:focus {
  padding: 4px 10px;

  background-color: #ffffff;

  border: 2px solid #e5e5e5;
}

.index-search-form-amount-people {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form-label {
  display: inline-block;
  vertical-align: top;
  width: 112px;
  padding: 6px 0 7px 0;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.calendar-svg {
  position: absolute;
  top: 8px;
  right: 9px;

  fill: #cacaca;
}

.calendar-svg:hover {
  fill: #000000;
}

.calendar-svg:active {
  fill: #81b3d2;
}

.children-label {
  width: 65px;
}

.amount-adult {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 226px;
  margin-right: 53px;
}

.amount-children {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 179px;
}

.amount-minus {
  position: absolute;
  top: 16px;
  right: 89px;
  display: block;
  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.amount-minus:hover {
  background-color: #000000;
}

.amount-minus:active {
  background-color: #81b3d2;
}

.amount-plus {
  position: absolute;
  top: 19px;
  right: 25px;
}

.amount-plus::before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.amount-plus::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  display: block;
  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.amount-plus:hover::before {
  background-color: #000000;
}

.amount-plus:hover::after {
  background-color: #000000;
}

.amount-plus:active::before  {
  background-color: #81b3d2;
}

.amount-plus:active::after {
  background-color: #81b3d2;
}

.search-form-date-arrival {
  width: 322px;

  background-color: #f2f2f2;
}

.search-form-date-departure {
  width: 322px;

  background-color: #f2f2f2;
}

.search-form-adult-amount {
  position: relative;
  width: 90px;

  text-align: center;

  background-color: #f2f2f2;
}

.children-label {
  width: 63px;
}

.search-form-children-amount {
  position: relative;
  width: 90px;

  text-align: center;

  background-color: #f2f2f2;
}

.search-form-item-btn {
  padding-top: 20px;
  margin-bottom: 0;
}

.search-form-send-btn {
  width: 458px;
  padding: 16px 0;
  margin-bottom: 55px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #81b3d2;

  border: none;
}

.search-form-send-btn:hover {
  background-color: #669ec0;
}

.search-form-send-btn:active {
  background-color: #5496bd;

  color: rgba(255, 255, 255, 0.3);
}

.sedona-map {
  height: 593px;
  margin-bottom: -120px;

  border: none;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: flex-start;
  position: relative;
  padding: 36px 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  width: 400px;
  padding: 10px 0;
  margin: 0;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  font-size: 0;

  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-link:active .social-icon {
  opacity: 0.3;
}

.footer-htmlacademy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer-htmlacademy span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  padding: 0;
  margin: 0;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-htmlacademy-link:hover .htmlacademy-icon {
  fill: #81b3d2;
}

.footer-htmlacademy-link:active .htmlacademy-icon {
  fill: #bdbbbc;
}

.htmlacademy-icon {
  padding-left: 2px;
}

.header-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px 72px 9px 72px;

  background-image: url("../img/filter-bg.jpg");
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
}

.form-filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 328px;
  padding: 0;
  margin: 0;
  margin-left: auto;

  border: none;
}

.filter-price-container-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 314px;
  margin-left: auto;
  margin-bottom: 11px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-price-container-price::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  display: block;
  height: 22px;
  width: 2px;

  background-color: #ffffff;

  z-index: 5;
}

.filter-price-slider {
  padding: 6px 0 5px 0;
  width: 155px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: rgba(0,0,0, 0);
}

.filter-price-field {
  position: relative;
  width: 317px;
  margin-left: auto;
  margin-bottom: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-price-slider-btn {
  position: relative;
  width: 20px;
  height: 20px;

  background-color: #ffffff;

  border-radius: 8px;
  border: none;
}

.filter-price-slider-btn:hover {
  background-color: #fff;

  cursor: pointer;
}

.filter-price-slider-btn:active {
  cursor: pointer;
}

.filter-price-slider-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;

  background-color: #ababab;
}

.filter-price-slider-field {
  position: relative;
  width: 232px;
  height: 2px;

  background-color: #ffffff;
}

.filter-price-slider-field::after {
  content: "";
  position: absolute;
  top: 0;
  right: -65px;
  display: block;
  width: 45px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form-inputs-caption {
  margin-bottom: 20px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.price-caption {
  padding-left: 10px;
  margin-bottom: 8px;
}

.form-filter {
  display: inline-block;
  vertical-align: top;
  width: 255px;
  padding: 0;
  margin: 0;

  border: none;
}

.hotels-checkbox {
  display: none;

  cursor: pointer;
}

.hotels-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 210px;
  padding-left: 40px;
  margin-bottom: 20px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.hotels-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  display: block;
  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-color: rgba(0, 0, 0, 0);
  background-position: left;
  background-repeat: no-repeat;

  border-radius: 2px;
  cursor: pointer;
}

.type-label {
  padding-left: 42px;

  cursor: pointer;
}

.hotels-checkbox:checked + .hotels-label::before {
  width: 30px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-color: rgba(0, 0, 0, 0);

  border: none;
  cursor: pointer;
}

.hotels-send-btn {
  width: 139px;
  padding: 5px 0 6px 0;
  margin-top: auto;
  margin: 0 auto;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(255, 255, 255, 0);

  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.hotels-send-btn:hover {
  color: #000000;

  background-color: #ffffff;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 72px;
  margin: 0;

  background-color: #ffffff;
}

.sort-title {
  width: 131px;
  padding: 0;
  margin: 0;
  margin-right: 49px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort-description {
  width: 85px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  margin-right: 40px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sort-link {
  padding-top: 6px;
  margin-right: 33px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0,0,0, 0.3);
  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:active {
  color: #000000;

  border: none;
}

.sort-active-link {
  color: #81b3d2;

  border: none;

  opacity: 1;
}

.sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px;
  margin-left: auto;
}

.sort-arrow {
  font-size: 0;

  opacity: 0.3;
}

.arrow:hover {
  fill: #000000;

  opacity: 1;
}

.arrow:active {
  fill: #81b3d2;

  opacity: 1;
}

.active-arrow {
  fill: #81b3d2;

  opacity: 1;
}

.hotels-found {
  background-color: #ffffff;
}

.hotel:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 72px 30px 72px;

  border-top: 1px solid #e5e5e5;
}

.hotel-img-mini {
  padding-top: 5px;
  margin-right: 30px;
}

.hotel-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 270px;
}

.hotel-title {
  padding: 0;
  margin: 0;
}

.hotel-title-link {
  width: 280px;
  margin-bottom: 7px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-title-link:hover {
  color: #81b3d2;
}

.hotel-title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
  width: 110px;
  padding: 0;
  margin: 0 6px 14px 0;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.hotel-price {
  width: 140px;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.hotel-more-info-link {
  width: 110px;
  padding: 3px 0;
  margin-right: 6px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #81b3d2;
}

.hotel-more-info-link:hover {
  background-color: #669ec0;
}

.hotel-more-info-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-reservation-link {
  width: 142px;
  padding: 3px 0;
  margin-right: 6px;

  font-family: "PTsansBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #766357;
}

.hotel-reservation-link:hover {
  background-color: #604e43;
}

.hotel-reservation-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 115px;
  padding: 0;
  padding-top: 4px;
  margin: 0;
  margin-left: auto;

  list-style: none;
}

.hotel-rating-star {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 17px;
  margin-right: 6px;
  margin-bottom: 47px;

  background-image: url('../img/star .svg');
  background-position: center;
  background-repeat: no-repeat;
}

.hotel-rating-star:last-child {
  margin-right: none;
}

.rating-star {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
}

.hotel-rating-link {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  margin-top: auto;
  margin-right: 1px;
  padding: 3px 0;

  font-family: "PTsansRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #f2f2f2;
}
